body{
    font-family: arial,sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    color: black;
}
header, footer{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;

}
/* class and id selecter */
#main-title{
    font-size: 28px;

}
.hilight{
    color: darkblue;
    cursor: pointer;
}
/* css color */
h2{
    color: navy;
}
/* css background */
nav{
    background-color: gainsboro;
}
/* css boader padding margin*/
section, article, aside{
    background-color: white;
    border:1px soli gray ;
    padding: 15px;
    margin:10px;
    border-radius:8px;

}
/* css box model*/
div.box{ 
    width: 200px;
    padding: 10px;
    margin: 15px auto;
    height: 50px;
    border: 2px solid navy;
    text-align: center;
    background-color: lightblue;

}
p{
    font-size: 16px;
    line-height: 1.5;
}
/*css text styling*/
h2, h3{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
/*css link and hover*/
a{
color: navy;
text-decoration: none;
font-weight: bold;
}
a:hover{
    color: red;
    text-decoration: underline;

}
nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap:5px;
}
nav li{
    display: inline;
}
footer{
    font-size: 14px;
}